SBE16_to_Kafka/data/flows.json
[
    {
        "id": "77c7c30f.0fd61c",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c7885260.5b223",
        "type": "Kafka Broker",
        "name": "${KAFKA_PRODUCER_HOST}",
        "hosts": [
            {
                "host": "${KAFKA_PRODUCER_HOST}",
                "port": "${KAFKA_PRODUCER_PORT}"
            }
        ],
        "hostsEnvVar": "",
        "connectTimeout": "10000",
        "requestTimeout": "30000",
        "autoConnect": "true",
        "idleConnection": "5",
        "reconnectOnIdle": "true",
        "maxAsyncRequests": "10",
        "checkInterval": "10",
        "selfSign": true,
        "usetls": false
    },
    {
        "id": "f6890e1d.e2fac",
        "type": "http proxy",
        "name": "spiddal http proxy",
        "url": "http://172.16.255.226:3128",
        "noproxy": []
    },
    {
        "id": "80019f2d.9dd3f",
        "type": "tcp in",
        "z": "77c7c30f.0fd61c",
        "name": "MOXA SWITCH",
        "server": "server",
        "host": "${DEVICE_SERVER}",
        "port": "${DEVICE_PORT}",
        "datamode": "stream",
        "datatype": "utf8",
        "newline": "\\n",
        "topic": "${DEVICE_TOPIC}",
        "base64": false,
        "x": 270,
        "y": 120,
        "wires": [
            [
                "addf79e2.df5538"
            ]
        ]
    },
    {
        "id": "addf79e2.df5538",
        "type": "function",
        "z": "77c7c30f.0fd61c",
        "name": "Add device and timestamp",
        "func": "let device = env.get(\"SENSOR_ID\");\n\nlet parts = [new Date().toISOString(),device,(\"\"+msg.payload).trim()];\nmsg.payload = parts.join(\"|\");\nflow.set('latest',{payload:msg.payload,time:new Date().getTime()});\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 220,
        "wires": [
            [
                "7818e38c.25462c",
                "f65da627.d136d8"
            ]
        ]
    },
    {
        "id": "7818e38c.25462c",
        "type": "Kafka Producer",
        "z": "77c7c30f.0fd61c",
        "name": "kafka:${KAFKA_PRODUCER_TOPIC}",
        "broker": "c7885260.5b223",
        "topic": "${KAFKA_PRODUCER_TOPIC}",
        "requireAcks": 1,
        "ackTimeoutMs": 100,
        "partitionerType": 0,
        "key": "",
        "partition": 0,
        "attributes": 0,
        "connectionType": "Producer",
        "x": 890,
        "y": 260,
        "wires": []
    },
    {
        "id": "f65da627.d136d8",
        "type": "debug",
        "z": "77c7c30f.0fd61c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 930,
        "y": 60,
        "wires": []
    }
]